<header class="main-header">
    <h1 class="title-principal">Mercado Liebre</h1>
    <div class="main-header-div-top">
        <div class="main-header-top-bar">
            <div class="main-logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
            </div>    
            <form action="/" method="get">
                <div class="div-form-buscar-productos">
                    <label for="buscar-productos"><input class="buscar-productos" id="buscar-productos" name="buscar-productos" type="text" placeholder="Buscar productos.."><a href="#"><i class='fa-solid fa-magnifying-glass'></i></a></label>
                </div>
            </form>
        </div>
        
        <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
        </h2>
    </div>
    <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
    <nav class="main-navbar" id="mainNavbar">
            <ul class="left-navbar">
                <li class="li-navbar"><a href="#">Ofertas</a ></li>
                <li class="li-navbar"><a href="#">Tiendas Oficiales</a ></li>
                <li class="li-navbar"><a href="#">Vender</a ></li>
                <li class="li-navbar"><a href="#">Ayuda</a ></li>
            </ul>
            <ul class="right-navbar">
                <li class="li-navbar"><a href="/#"><%- user.userName %></a ></li>
                <div style="background-color: white; border: solid 2px black; border-radius: 100%; margin-right: 5px; width: 5%;">
                    <img src="/images/imageUser/<%- user.image ? user.image : 'default.png' %> " style="width: 100%; border-radius: 100%;">
                </div>
                <li class="li-navbar"><a href="#">Mis compras<i class="fa-solid fa-cart-shopping"></i></a ></li>
            </ul>
    </nav>
</header>