<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <div id="grid">
        <div class="grid1">
            <div class="volver-home"><a href="/">Uno</a></div>
            <div class="volver-home"><a href="/">Dos</a></div>
            <div class="volver-home"><a href="/">Tres</a></div>
        </div>
        <div class="volver-home"><a href="/">Cuatro</a></div>
        <div class="volver-home"><a href="/">Cinco</a></div>
        <div class="volver-home"><a href="/">Seis</a></div>
        <div class="grid2">
            <div class="volver-home"><a href="/">Siete</a></div>
            <div class="volver-home"><a href="/">Ocho</a></div>
            <div class="volver-home"><a href="/">Nueve</a></div>
            <div class="volver-home"><a href="/">Diez</a></div>
        </div>
        <div class="volver-home"><a href="/">Once</a></div>
    </div>
    
</body>
</html>