<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <div class="form-controller">
        <form action="#" method="get" class="formulario">
            <div class="div-input-text">
                <label><i class="fa-solid fa-user"></i><input class="input-text" type="text" placeholder="Nombre de Usuario"></label>
            </div>
            <div class="div-input-password">
                <label><i class="fa-solid fa-lock"></i><input class="input-password" type="password" placeholder="Constraseña"></label>
            </div>
            <div class="btn-div">
                <button class="btn-controller" type="button">LOGIN</button>
            </div>
        </form>
    </div>
</body>
</html>