<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logo-mercado-liebre.png">
    <script src="/js/funciones.js"></script>
</head>
<body>
    
    <%- include('./partials/header') %>

    <main>
        <div class="form-controller">
            <div class="ruta-login">
                <a href="/">Home</a>/<a href="#">Account</a>/<p>Login</p>
            </div>
            <div class="saludo-img">
                <p>WELCOME</p>
            </div>
            
            <form action="/" method="get" class="formulario">
                <div class="div-input-text">
                    <i class="fa-solid fa-user"></i><input required id="userName" class="input-text" name="userName" type="text" placeholder="User Name">  
                </div>
                <div class="div-input-password">
                    <div class="div-input-password-icon">
                        <i class="fa-solid fa-lock"></i>
                        <input required id="password" class="input-password" name="password" type="password" placeholder="Password">
                        <div class="checkboxPass">
                            <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
                            <label for="checkPassword">
                                <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                                <i class="fa-solid fa-eye" id="eye"></i>
                            </label>
                        </div>
                    </div>
                    <p>Forget your password?</p>  
                </div>
                <div class="checkbox">
                    <div class="text-checkbox">
                        <label for="checkAvanzado">Recorder User</label>
                    </div>
                    <div class="checkbox-pastilla">
                        <input type="checkbox" id="checkAvanzado" value="Valor"/>
                        <label for="checkAvanzado"></label>
                    </div>
                </div>
                <div class="div-btn-login">
                    <a href="/"><button id="btnLogin" class="btn-login" type="submit">LOGIN</button></a>
                </div>
                <div class="btn-google-facebook">
                    <button id="btnGoogle" class="btn-google" type="button"><i class="fa-brands fa-google"></i></button>
                    <button id="btnFacebook" class="btn-facebook" type="button"><i class="fa-brands fa-facebook-f"></i></button>
                </div>
                <div class="redirection-create-account">
                    <p>Don´t have an account? <a href="/register"><i class="fa-solid fa-id-card"></i> Sign up and get started</a></p>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
