<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <script src="/js/funciones.js"></script>
</head>
<body>
    <header class="main-header">
        <h1 class="title-principal">Mercado Liebre</h1>
        <div class="main-header-div-top">
            <div class="main-header-top-bar">
                <div class="main-logo">
                        <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                </div>    
                <form action="/" method="get">
                    <div class="div-form-buscar-productos">
                        <label><input class="buscar-productos" value="" type="text" placeholder="Buscar productos.."><a href="#"><i class='fa-solid fa-magnifying-glass'></i></a></label>
                    </div>
                </form>
            </div>
            
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
        <nav class="main-navbar" id="mainNavbar">
                <ul class="left-navbar">
                    <li class="li-navbar"><a href="/cart">Ofertas</a ></li>
                    <li class="li-navbar"><a href="#">Tiendas Oficiales</a ></li>
                    <li class="li-navbar"><a href="#">Vender</a ></li>
                    <li class="li-navbar"><a href="#">Ayuda</a ></li>
                </ul>
                <ul class="right-navbar">
                    <li class="li-navbar"><a href="/register">Creá tu cuenta<i class="fa-regular fa-credit-card"></i></a ></li>
                    <li class="li-navbar"><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li class="li-navbar"><a href="/productCart">Mis compras<i class="fa-solid fa-cart-shopping"></i></a ></li>
                </ul>
        </nav>
    </header>
    <main>
        <div class="form-controller">
            <div class="ruta-login">
                <a href="/">Home</a>/<a href="#">Account</a>/<p>Login</p>
            </div>
            <div class="saludo-img">
                <p>WELCOME</p>
            </div>
            
            <form action="/" method="get" class="formulario">
                <div class="div-input-text">
                    <i class="fa-solid fa-user"></i><input required id="userName" class="input-text" name="userName" type="text" placeholder="User Name">  
                </div>
                <div class="div-input-password">
                    <div class="div-input-password-icon">
                        <i class="fa-solid fa-lock"></i>
                        <input required id="password" class="input-password" name="password" type="password" placeholder="Password">
                        <div class="checkboxPass">
                            <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
                            <label for="checkPassword">
                                <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                                <i class="fa-solid fa-eye" id="eye"></i>
                            </label>
                        </div>
                    </div>
                    <p>Forget your password?</p>  
                </div>
                <div class="checkbox">
                    <div class="text-checkbox">
                        <label for="checkAvanzado">Recorder User</label>
                    </div>
                    <div class="checkbox-pastilla">
                        <input type="checkbox" id="checkAvanzado" value="Valor"/>
                        <label for="checkAvanzado"></label>
                    </div>
                </div>
                <div class="div-btn-login">
                    <a href="/"><button id="btnLogin" class="btn-login" type="submit">LOGIN</button></a>
                </div>
                <div class="btn-google-facebook">
                    <button id="btnGoogle" class="btn-google" type="button"><i class="fa-brands fa-google"></i></button>
                    <button id="btnFacebook" class="btn-facebook" type="button"><i class="fa-brands fa-facebook-f"></i></button>
                </div>
                <div class="redirection-create-account">
                    <p>Don´t have an account? <a href="/register"><i class="fa-solid fa-id-card"></i> Sign up and get started</a></p>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <ul>
            <li>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </li>
        </ul>
        <div class="copyright">
            <h5>Copyright © 1999-2020 Mercado Liebre S.R.L.</h5>
        </div>
    </footer> 
</body>
</html>
