<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Product</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <script src="/js/funciones.js"></script>
</head>
<body>
    <header class="main-header">
        <h1 class="title-principal">Mercado Liebre</h1>
        <div class="main-header-div-top">
            <div class="main-header-top-bar">
                <div class="main-logo">
                        <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                </div>    
                <form action="/" method="get">
                    <div class="div-form-buscar-productos">
                        <label><input class="buscar-productos" value="" type="text" placeholder="Buscar productos.."><a href="#"><i class='fa-solid fa-magnifying-glass'></i></a></label>
                    </div>
                </form>
            </div>
            
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
        <nav class="main-navbar" id="mainNavbar">
                <ul class="left-navbar">
                    <li class="li-navbar"><a href="/cart">Ofertas</a ></li>
                    <li class="li-navbar"><a href="#">Tiendas Oficiales</a ></li>
                    <li class="li-navbar"><a href="#">Vender</a ></li>
                    <li class="li-navbar"><a href="#">Ayuda</a ></li>
                </ul>
                <ul class="right-navbar">
                    <li class="li-navbar"><a href="/register">Creá tu cuenta<i class="fa-regular fa-credit-card"></i></a ></li>
                    <li class="li-navbar"><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li class="li-navbar"><a href="/productCart">Mis compras<i class="fa-solid fa-cart-shopping"></i></a ></li>
                </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="ruta-cart">
                <a href="/">Home</a>/<p>Cart</p>
            </div>
            <section>
                <div class="productos">
                    <div class="container-imagenes"><img src="/images/P2PEVK0.jpg"></div>
                    <div class="container-info">
                        <div class="info-top">
                            <p>Descripcion del producto</p>
                            <button type="button">x</button>
                        </div>
                        <div class="info-bottom">
                            <div class="btn-controller-cant">
                                <div class="btn-controller-cant-unid">
                                    <button type="button">-</button>
                                    <input type="text" placeholder="1" readonly>
                                    <button type="button">+</button>
                                </div>
                                <p>$ 10.850,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productos">
                    <div class="container-imagenes"><img src="/images/lentes1.jpg"></div>
                    <div class="container-info">
                        <div class="info-top">
                            <p>Descripcion del producto</p>
                            <button type="button">x</button>
                        </div>
                        <div class="info-bottom">
                            <div class="btn-controller-cant">
                                <div class="btn-controller-cant-unid">
                                    <button type="button">-</button>
                                    <input type="text" placeholder="1" readonly>
                                    <button type="button">+</button>
                                </div>
                                <p>$ 21.500,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productos">
                    <div class="container-imagenes"><img src="/images/lentes.png"></div>
                    <div class="container-info">
                        <div class="info-top">
                            <p>Descripcion del producto</p>
                            <button type="button">x</button>
                        </div>
                        <div class="info-bottom">
                            <div class="btn-controller-cant">
                                <div class="btn-controller-cant-unid">
                                    <button type="button">-</button>
                                    <input type="text" placeholder="1" readonly>
                                    <button type="button">+</button>
                                </div>
                                <p>$ 13.475,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="subtotal-productos">
                <h5>
                    <span>Subtotal:</span>
                    <strong>$ 45.825,00</strong>
                </h5>
            </div>
            <div class="medios-envio">
                <div class="cp-calcular-envio">
                    <div class="codigo-postal">
                        <input type="text" placeholder="Enter Zip Code">
                    </div>
                    <div class="calcular-envio">
                        <button class="btn-calcular">CALCULATE</button>
                    </div>
                </div>
                <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">I don't know my zip code</a>
                <div class="calculo-del-envio">
                    <!--Aca apareceria el costo del envio, el cual se sumaria al subtotal.-->
                </div>
            </div>
            <div class="total-productos-envio">
                <h5>
                    <span>Total:</span>
                    <strong>$ 45.825,00</strong>
                </h5>
            </div>
            <div class="formulario">
                <div class="btn-agregarProductos-finalizar">
                    <button id="btn-agregarProductos" class="btn-agregarProductos" type="button">ADD MORE PRODUCTS</button>
                    <button id="btn-finalizar" class="btn-finalizar" type="button">FINALIZE</i></button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <ul>
            <li>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </li>
        </ul>
        <div class="copyright">
            <h5>Copyright © 1999-2020 Mercado Liebre S.R.L.</h5>
        </div>
    </footer>  
</body>
</html>