<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="main-header">
            <div class="main-hamburguer">
                <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
                <a href="#" class="hamburguer-buttom"><i class="fa-solid fa-bars"></i></a>
                <p>Menú</p>
            </div>
            <div class="main-logo">
                <a href="/"><img src="/images/logo.png" alt="Optica RIFF"></a>
            </div>
            <div class="main-buscar-carrito">
                <a href="/cart.html"><i class='fa-solid fa-magnifying-glass'></i></a>
                <a href="/productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>    
        <nav class="main-navbar">
            <ul class="navbar-left">
                <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Anteojos Recetados</a></li>
                <li><a href="#">Anteojos para Sol</a></li>
                <li><a href="#">Lentes de Contacto</a></li>
                <li><a href="#">Accesorios</a></li> 
                <li><a href="#">Contacto</a></li>
            </ul>
            <ul class="navbar-right">
                <li>
                    <form action="#" method="get" class="buscador">   
                        <!--Input text para el buscador-->
                        <div class="buscar-productos">
                            <input id="search" class="buscar-productos" name="search" value="" type="text" placeholder="Buscar productos.."><a href="#"><i class='fa-solid fa-magnifying-glass'></i></a>
                        </div>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-controller">
            <div class="ruta-register">
                <a href="/">Home</a>/<a href="#">Account</a>/<p>Register</p>
            </div>
            <div class="saludo-img">
                <p>WELCOME</p>
                <img src="/images/lentes-sol.png">
            </div>
            
            <form action="#" method="get" class="formulario">
                <div class="div-input-text">
                    <i class="fa-solid fa-user"></i><input required id="userName" class="input-text" name="userName" type="text" placeholder="User Name">  
                </div>
                <div class="div-input-email">
                    <i class="fa-solid fa-envelope"></i><input required id="email" class="input-email" name="email" type="text" placeholder="Email">  
                </div>
                <div class="div-input-phone">
                    <i class="fa-solid fa-phone"></i><input id="phone" class="input-phone" name="phone" type="tel" placeholder="Phone (Optional)">  
                </div>
                <div class="div-input-password">
                    <i class="fa-solid fa-lock"></i><input required id="password" class="input-password" name="password" type="password" placeholder="Password">
                </div>
                <div class="div-input-password">
                    <i class="fa-solid fa-lock"></i><input required id="confirmPassword" class="input-password" name="password" type="password" placeholder="Confirm Password">
                </div>
                <div class="checkbox">
                    <div class="text-checkbox">
                        <label for="checkAvanzado">Recorder User</label>
                    </div>
                    <div class="checkbox-pastilla">
                        <input type="checkbox" id="checkAvanzado" value="Valor"/>
                        <label for="checkAvanzado"></label>
                    </div>
                </div>
                <div class="div-btn-register">
                    <button id="btnLogin" class="btn-register" type="button">REGISTER</button>
                </div>
                <div class="redirection-login">
                    <p>Do have an account? <a href="login.html"><i class="fa-solid fa-id-card"></i> Login</a></p>
                </div>
            </form>
        </div>
    </main>
</body>
</html>