<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <script src="/js/funciones.js"></script>
</head>
<body>
    <header class="main-header">
        <h1 class="title-principal">Mercado Liebre</h1>
        <div class="main-header-div-top">
            <div class="main-header-top-bar">
                <div class="main-logo">
                        <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
                </div>    
                <form action="/" method="get">
                    <div class="div-form-buscar-productos">
                        <label><input class="buscar-productos" value="" type="text" placeholder="Buscar productos.."><a href="#"><i class='fa-solid fa-magnifying-glass'></i></a></label>
                    </div>
                </form>
            </div>
            
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
        <nav class="main-navbar" id="mainNavbar">
                <ul class="left-navbar">
                    <li class="li-navbar"><a href="#">Ofertas</a ></li>
                    <li class="li-navbar"><a href="#">Tiendas Oficiales</a ></li>
                    <li class="li-navbar"><a href="#">Vender</a ></li>
                    <li class="li-navbar"><a href="#">Ayuda</a ></li>
                </ul>
                <ul class="right-navbar">
                    <li class="li-navbar"><a href="/register">Creá tu cuenta<i class="fa-regular fa-credit-card"></i></a ></li>
                    <li class="li-navbar"><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li class="li-navbar"><a href="#">Mis compras<i class="fa-solid fa-cart-shopping"></i></a ></li>
                </ul>
        </nav>
    </header>
    <main>
        <div class="form-controller">
            <div class="ruta-register">
                <a href="/">Home</a>/<a href="#">Account</a>/<p>Register</p>
            </div>
            <div class="saludo-img">
                <p>WELCOME</p>
            </div>
            
            <form action="/" method="get" class="formulario">
                <div class="div-input-text">
                    <i class="fa-solid fa-id-card"></i><input required id="name" class="input-text" name="name" type="text" placeholder="Name & Last Name">  
                </div>
                <div class="div-input-text">
                    <i class="fa-solid fa-user"></i><input required id="userName" class="input-text" name="userName" type="text" placeholder="User Name">  
                </div>
                <div class="div-input-date">
                    <i class="fa-solid fa-calendar-days"></i><input required id="date" class="input-date" name="date" type="date">  
                </div>
                <div class="div-input-residence">
                    <i class="fa-solid fa-house"></i><input id="residence" class="input-residence" name="residence" type="text" placeholder="Residence">  
                </div>
                <div class="div-input-userProfile">
                    <label class="userProfile">User Profile:</label>
                    <label class="label-radio-check"><input id="comprador" class="input-userProfile" name="userProfile" type="radio" checked>Comprador</label>
                    <label class="label-radio-check"><input id="vendedor" class="input-userProfile" name="userProfile" type="radio">Vendedor</label>
                </div>
                <div class="div-input-interests">
                    <label class="interests">Interests:</label>
                    <label class="label-radio-check"><input id="electro" class="input-interests" name="" type="checkbox" checked>Electro</label>
                    <label class="label-radio-check"><input id="moda" class="input-interests" name="" type="checkbox">Moda</label>
                    <label class="label-radio-check"><input id="hogar" class="input-interests" name="" type="checkbox">Hogar</label>
                    <label class="label-radio-check"><input id="jugueteria" class="input-interests" name="" type="checkbox">Jugueteria</label>
                    <label class="label-radio-check"><input id="vidaSana" class="input-interests" name="" type="checkbox">Vida Sana</label>
                </div>
                <div class="div-input-password">
                    <div class="div-input-password-icon">
                        <i class="fa-solid fa-lock"></i>
                        <input required id="password" class="input-password" name="password" type="password" placeholder="Password">
                        <div class="checkboxPass">
                            <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
                            <label for="checkPassword">
                                <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                                <i class="fa-solid fa-eye" id="eye"></i>
                            </label>
                        </div>
                    </div>
                </div>                
                <div class="div-input-password-confirm">
                    <div class="div-input-password-icon-confirm">
                        <i class="fa-solid fa-lock"></i>
                        <input required id="passwordConfirm" class="input-password-confirm" name="password-confirm" type="password" placeholder="Confirm Password">
                        <div class="checkboxPassConfirm">
                            <input type="checkbox" id="checkPasswordConfirm" onclick="mostrarConfirmPassword()">
                            <label for="checkPasswordConfirm">
                                <i class="fa-solid fa-eye-slash" id="eyeSlashConfirm"></i>
                                <i class="fa-solid fa-eye" id="eyeConfirm"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="text-checkbox">
                        <label for="checkAvanzado">Recorder User</label>
                    </div>
                    <div class="checkbox-pastilla">
                        <input type="checkbox" id="checkAvanzado" value="Valor"/>
                        <label for="checkAvanzado"></label>
                    </div>
                </div>
                <div class="div-botones">
                    <div class="div-btn-register">
                        <button id="btnRegister" class="btn-register" type="submit">REGISTER</button>
                    </div>
                    <div class="div-btn-reset">
                        <button id="btnReset" class="btn-reset" type="reset">RESET</button></a>
                    </div>
                </div>
                <div class="redirection-login">
                    <p>Do have an account? <a href="/login"><i class="fa-solid fa-id-card"></i> Login</a></p>
                </div>
        
            </form>
        </div>
    </main>
    <footer>
        <ul>
            <li>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </li>
        </ul>
        <div class="copyright">
            <h5>Copyright © 1999-2020 Mercado Liebre S.R.L.</h5>
        </div>
    </footer> 
</body>
</html>