<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a281ea592b.js" crossorigin="anonymous"></script>
    <script src="/js/funciones.js"></script>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        <div class="form-controller">
            <div class="ruta-register">
                <a href="/">Home</a>/<a href="#">Account</a>/<p>Register</p>
            </div>
            <div class="saludo-img">
                <p>WELCOME</p>
            </div>
            
            <form action="/users/register" method="post" class="formulario">
                <div class="div-input-text">
                    <label for="name"><i class="fa-solid fa-id-card"></i><input required id="name" class="input-text" name="name" type="text" placeholder="Name & Last Name"></label>
                </div>
                <div class="div-input-text">
                    <label for="userName"><i class="fa-solid fa-user"></i><input required id="userName" class="input-text" name="userName" type="text" placeholder="User Name"></label>
                </div>
                <div class="div-input-date">
                    <label for="date"><i class="fa-solid fa-calendar-days"></i><input required id="date" class="input-date" name="date" type="date"></label>
                </div>
                <div class="div-input-residence">
                    <label for="residence"><i class="fa-solid fa-house"></i><input id="residence" class="input-residence" name="residence" type="text" placeholder="Residence"></label>
                </div>
                <div class="div-input-userProfile">
                    <label class="userProfile">User Profile:</label>
                    <label class="label-radio-check"><input id="comprador" class="input-userProfile" name="userProfile" type="radio" value="Comprador" checked>Comprador</label>
                    <label class="label-radio-check"><input id="vendedor" class="input-userProfile" name="userProfile" type="radio" value="Vendedor">Vendedor</label>
                </div>
                <div class="div-input-interests">
                    <label class="interests">Interests:</label>
                    <label class="label-radio-check"><input id="electro" class="input-interests" name="interests" value="Electro" type="checkbox" checked>Electro</label>
                    <label class="label-radio-check"><input id="moda" class="input-interests" name="interests" value="Moda" type="checkbox">Moda</label>
                    <label class="label-radio-check"><input id="hogar" class="input-interests" name="interests" value="Hogar" type="checkbox">Hogar</label>
                    <label class="label-radio-check"><input id="jugueteria" class="input-interests" name="interests" value="Jugueteria" type="checkbox">Jugueteria</label>
                    <label class="label-radio-check"><input id="vidaSana" class="input-interests" name="interests" value="Vida Sana" type="checkbox">Vida Sana</label>
                </div>
                <div class="div-input-imageUser">
                    <label for="imageUser"><i class="fa-solid fa-house"></i><input id="imageUser" class="input-imageUser" name="imageUser" type="file"></label>
                </div>
                <div class="div-input-password">
                    <div class="div-input-password-icon">
                        <label for="password"><i class="fa-solid fa-lock"></i></label>
                        <input required id="password" class="input-password" name="password" type="password" placeholder="Password">
                        <div class="checkboxPass">
                            <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
                            <label for="checkPassword">
                                <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                                <i class="fa-solid fa-eye" id="eye"></i>
                            </label>
                        </div>
                    </div>
                </div>                
                <div class="div-input-password-confirm">
                    <div class="div-input-password-icon-confirm">
                        <label for="passwordConfirm"><i class="fa-solid fa-lock"></i></label>
                        <input required id="passwordConfirm" class="input-password-confirm" name="passwordConfirm" type="password" placeholder="Confirm Password">
                        <div class="checkboxPassConfirm">
                            <input type="checkbox" id="checkPasswordConfirm" onclick="mostrarConfirmPassword()">
                            <label for="checkPasswordConfirm">
                                <i class="fa-solid fa-eye-slash" id="eyeSlashConfirm"></i>
                                <i class="fa-solid fa-eye" id="eyeConfirm"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="text-checkbox">
                        <label for="checkAvanzado">Recorder User</label>
                    </div>
                    <div class="checkbox-pastilla">
                        <input type="checkbox" id="checkAvanzado" name="recorderUser"/>
                        <label for="checkAvanzado"></label>
                    </div>
                </div>
                <div class="div-botones">
                    <div class="div-btn-register">
                        <button id="btnRegister" class="btn-register" type="submit">REGISTER</button>
                    </div>
                    <div class="div-btn-reset">
                        <button id="btnReset" class="btn-reset" type="reset">RESET</button></a>
                    </div>
                </div>
                <div class="redirection-login">
                    <p>Do have an account? <a href="/login"><i class="fa-solid fa-id-card"></i> Login</a></p>
                </div>
        
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>