<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<html>
    <body>
        <%- include('partials/header.ejs') %>
        <main style="padding: 100px 0 0 20px;">
            <h1>Users List</h1>
            <ul>
                <% for(let i = 0; i < users.length; i++) { %>
                    <li>
                        <%= users[i].name %>
                    </li>
                <% } %>

                <h2>Search</h2>
                <form action="/user/details" method="get">
                    <input type="text" name="search">
                    <button type="submit" value="Search"></button>
                </form>
            </ul>
        </main>
    </body>
</html>