<html>
    <body>
        <%- include('partials/header.ejs') %>
        <h1>Users List</h1>
        <ul>
            <% for(let i = 0; i < users.length; i++) { %>
                <li>
                    <% users[i].name %>
                </li>
            <% } %>

            <h2>Search</h2>
            <form action="/user/details" method="get">
                <input type="text" name="search">
                <button type="submit" value="Search"></button>
            </form>

        </ul>
    </body>
</html>