* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #ADB2B5; 
}

h1 {
    display: none;
}

header {
    padding: 2vw;
    background-color: white;
}

.main-header {
    display: flex;
}

.main-hamburguer, .main-buscar-carrito {
    display: flex;
    width: 80px;
    height: 47px;
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;  
}

.main-hamburguer a, .main-buscar-carrito a{
    color: #000000;
}

.main-hamburguer p {
    font-size: 12px;
    color: #ADB2B5;
    margin: 4px;
}

.main-buscar-carrito a {
    margin-right: 2vw;
}

.main-logo {
    width: 60%;
    height: 47px;
    margin: auto;
    /* border: solid; */
}

.main-logo img {
    width: 100%;
    height: 85%;
}

.main-navbar {
    display: none;
}

main {
    margin: 2vw;
    /* height: 90vh; */
}

.form-controller {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left bottom, #032332, #39606F);
    width: 100%;
    /* height: 100%;   */
    margin: auto;
    /* min-height: 750px; */
}

.ruta-login {
    margin: 20px auto;
}

.ruta-login, .ruta-login a {
    text-decoration: none;
    color: #ADB2B5;
}

.ruta-login p {
    display: inline-block;
    font-weight: bold;
    color: #8f8f8f;
}

.datos-contacto {
    margin: 0 auto;
    width: 75%;
    height: 85% ;
    user-select: none;
}

.datos-contacto li {
    list-style: none;
    padding: 5px 0px;
}

.datos-contacto a {
    text-decoration: none;
    color: #ADB2B5;
}

.datos-contacto i {
    width: 7%;
}

.formulario {
    justify-content: center;
    flex-direction: column;
    margin: 5vw auto;
    width: 75%;
    height: 85% ;
    border-bottom: #FFFFFF;
}

.div-input-text, .div-input-email, .div-input-phone {
    background-color: #FFFFFF;
    border: solid #FFFFFF;
    margin: 5% 0; 
    border-radius: 5px;
    height: 40px;
}

.div-input-textArea {
    background-color: #FFFFFF;
    border: solid #FFFFFF;
    margin: 5% 0;
    border-radius: 5px;
    height: 160px;
}

.input-text, .input-email, .input-phone {
    border: none;
    height: 100%;
    width: 80%;
    padding-left: 10px;
}

.input-textArea {
    border: none;
    width: 100%;
    padding: 2px 2px 2px 5px;
}

.div-input-text i, .div-input-email i, .div-input-phone i {
    margin: 0 1vw;
}

.btn-login {
    background-color: #43C474;
    border-color: #43C474;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #8f8f8f;
}

footer {
    font-family: 'Roboto';
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 2vw 2vw;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-footer {
    margin: 2vW;
}

.footer-navegacion {
    display: flex;
    flex-wrap: wrap;
}

footer h4 {
    width: 100%;
    padding: 5px 0px;
}

footer ul {
    padding: 10px;
}

footer li {
    padding: 5px 0px;
}

.footer-navegacion ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-navegacion li{
    width: 40%;
}

.footer-contactenos i {
    width: 7%;
}

.footer-redesSociales ul {
    display: flex;
}

.footer-redesSociales li {
    font-size: xx-large;
    margin-right: 15px;
}

.footer-redesSociales i {
    width: 100%;
}

footer h5 {
    display: flex;
    margin: 8px;
    text-align: left;
    justify-content: flex-start;
    color: #c3c6c8;
}


