* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #ADB2B5; 
}

h1 {
    display: none;
}

header {
    padding: 2vw;
    background-color: white;
}

.main-header {
    display: flex;
}

.main-hamburguer, .main-buscar-carrito {
    display: flex;
    width: 80px;
    height: 47px;
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;  
}

.main-hamburguer a, .main-buscar-carrito a{
    color: #000000;
}

.main-hamburguer p {
    font-size: 12px;
    color: #ADB2B5;
    margin: 4px;
}

.main-buscar-carrito a {
    margin-right: 2vw;
}

.main-logo {
    width: 60%;
    height: 47px;
    margin: auto;
    /* border: solid; */
}

.main-logo img {
    width: 100%;
    height: 85%;
}

.main-navbar {
    display: none;
}

main {
    margin: 2vw;
    /* height: 90vh; */
}

.container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background: linear-gradient(to left bottom, #032332, #39606F);
    width: 100%;
    /* height: 100%;   */
    margin: auto;
}

.ruta-cart {
    margin: 20px auto;
}

.ruta-cart, .ruta-cart a {
    text-decoration: none;
    color: #ADB2B5;
}

.ruta-cart p {
    display: inline-block;
    font-weight: bold;
    color: #8f8f8f;
}

section {
    height: 100%;
    margin: 10px;
    /* color: #ADB2B5; */
}

.productos {
    width: 90%;
    background-color: #ADB2B5;
    margin: 10px;
    height: 40%;
    display: flex;
}

.container-info {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 5px;
    justify-content: space-evenly;
}

.info-top button {
    color: #FFFFFF;
    background-color: #B03A2C;
    border-radius: 3px;
    border: none;
    padding: 2px;
    width: 20px;
}

.info-top, .info-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-controller-cant {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-controller-cant p{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-controller-cant-unid {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.btn-controller-cant input, .btn-controller-cant-unid button {
    width: 30%;
    text-align: center;
}

.container-imagenes {
    width: 30%;
    height: 90%;
    padding: 4px 0 0 4px;
}

.container-imagenes img {
    width: 100%;
}

.subtotal-productos {
    border-top: 1px solid #ADB2B5;
    border-bottom: 1px solid #ADB2B5;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 10px;

}

.subtotal-productos h5 {
    width: 100%;
    display: flex;
}

.subtotal-productos span, .subtotal-productos strong {
    width: 50%;
    font-size: 18px;
    color: #ADB2B5;
}

.subtotal-productos strong {
    display: flex;
    justify-content: end;
}

/* .medios-envio {
    display: flex;
    justify-content: center;
} */

.cp-calcular-envio {
    display: flex;
    /* box-shadow: 2px 2px 5px #8f8f8f; */
    width: 80%;
    justify-content: center;
    margin: 20px auto 0px;
}

.codigo-postal input {
    height: 100%;
    border-radius: 5px 0 0 5px;
    background-color: #000000;
    border-color: #000000;
    color: #ADB2B5;
    height: 38px;
    width: 100%;
}

.calcular-envio {
    width: 50%;
}

.btn-calcular {
    background-color: #F6C01C;
    border-color: #F6C01C;
    color: #032332;
    height: 40px;
    border-radius: 0 5px 5px 0;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.medios-envio a {
    margin-left: 41px;
    text-decoration: none;
    color: #8f8f8f;

}

.total-productos-envio {
    border-top: 1px solid #ADB2B5;
    border-bottom: 1px solid #ADB2B5;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 2vw 10px;

}

.total-productos-envio h5 {
    width: 100%;
    display: flex;
}

.total-productos-envio span, .total-productos-envio strong {
    width: 50%;
    font-size: 25px;
    color: #000000;
}

.total-productos-envio strong {
    display: flex;
    justify-content: end;
}

.formulario {
    justify-content: center;
    flex-direction: column;
    margin: 5vw auto;
    width: 75%;
    height: 85% ;
    border-bottom: #FFFFFF;
}

.btn-agregarProductos-finalizar {
    display: flex;
    box-shadow: 2px 2px 5px #8f8f8f;
}

.btn-agregarProductos {
    background-color: #ADB2B5;
    border-color: #ADB2B5;
    color: #032332;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.btn-finalizar {
    background-color: #43C474;
    border-color: #43C474;
    color: #032332;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

footer {
    font-family: 'Roboto';
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 2vw 2vw;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-footer {
    margin: 2vW;
}

.footer-navegacion {
    display: flex;
    flex-wrap: wrap;
}

footer h4 {
    width: 100%;
    padding: 5px 0px;
}

footer ul {
    padding: 10px;
}

footer li {
    padding: 5px 0px;
}

.footer-navegacion ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-navegacion li{
    width: 40%;
}

.footer-contactenos i {
    width: 7%;
}

.footer-redesSociales ul {
    display: flex;
}

.footer-redesSociales li {
    font-size: xx-large;
    margin-right: 15px;
}

.footer-redesSociales i {
    width: 100%;
}

footer h5 {
    display: flex;
    margin: 8px;
    text-align: left;
    justify-content: flex-start;
    color: #c3c6c8;
}
