* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #ADB2B5; 
}

h1 {
    display: none;
}

header {
    padding: 2vw;
    background-color: white;
}

.main-header {
    display: flex;
}

.main-hamburguer, .main-buscar-carrito {
    display: flex;
    width: 80px;
    height: 47px;
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;  
}

.main-hamburguer a, .main-buscar-carrito a{
    color: #000000;
}

.main-hamburguer p {
    font-size: 12px;
    color: #ADB2B5;
    margin: 4px;
}

.main-buscar-carrito a {
    margin-right: 2vw;
}

.main-logo {
    width: 60%;
    height: 47px;
    margin: auto;
    /* border: solid; */
}

.main-logo img {
    width: 100%;
    height: 85%;
}

.main-navbar {
    display: none;
}

main {
    margin: 2vw;
    height: 90vh;
}

.form-controller {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left bottom, #032332, #39606F);
    width: 100%;
    height: 100%;  
    margin: auto;
}

.ruta-register {
    margin: 20px auto;
}

.ruta-register, .ruta-register a {
    text-decoration: none;
    color: #ADB2B5;
}

.ruta-register p {
    display: inline-block;
    font-weight: bold;
    color: #8f8f8f;
}

.saludo-img {
    margin: auto;
    text-align: center;
}

.saludo-img img {
    padding-top: 42.5px;
}

.saludo-img p {
    font-size: 55px;
    color: #ADB2B5;
}

.formulario {
    justify-content: center;
    flex-direction: column;
    margin: 10vw auto;
    width: 75%;
    height: 85% ;
    border-bottom: #FFFFFF;
}

.div-input-text, .div-input-email, .div-input-phone, .div-input-password {
    background-color: white;
    border: solid white;
    margin: 5% 0; 
    border-radius: 5px;
    height: 40px;
}

.input-text, .input-email, .input-phone, .input-password {
    border: none;
    height: 100%;
    width: 90%;
    padding-left: 10px;
}

.div-input-text i, .div-input-email i, .div-input-phone i, .div-input-password i {
    margin: 0 1vw;
}

.checkbox {
    display: flex;
    margin-top: 40px;
}

.text-checkbox {
    color: #ADB2B5;
    margin-top: 10px;
    font-size: 15px;
}

.checkbox-JASoft {
	display: inline-block;
	position: relative;
    margin: 3px 0 3vw 3vw;
    width: 80px;
	height: 30px;
	background: #ADB2B5;
	border-radius: 15px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.6), 0px 1px 0px rgba(255,255,255,0.3);   
}

.checkbox-JASoft label {
    /* aspecto */
    display: block;
    width: 34px;
	height: 20px;
	border-radius: 17px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	background: #fcfff4;
	background: linear-gradient(to left bottom, #032332, #39606F);
    cursor: pointer;
    
    /* Posicionamiento */
    position: absolute;
    top: 5px;
	left: 5px;
    z-index: 1;
    
	/* Comportamiento */
    transition: all .4s ease;
    
    /* ocultar el posible texto que tenga */
    /* overflow: hidden;
    text-indent: 35px;  
    transition: text-indent 0s; */
}

input[type=checkbox] {
	visibility: hidden;
}

.checkbox-JASoft input:checked + label {
	left: auto;
    right: 5px;
}

.checkbox-JASoft:after {
	content: 'NO';
	font: 12px/30px Arial, sans-serif;
	color: #B03A2C;
	position: absolute;
	right: 10px;
    z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.20);
}

.checkbox-JASoft:before {
	content: 'YES';
	font: 12px/30px Arial, sans-serif;
	color: #30653C;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.btn-register {
    background-color: #43C474;
    border-color: #43C474;
    color: #032332;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px #8f8f8f;
}

.redirection-login {
    margin-top: 15px;
}

.redirection-login p, .redirection-login a, .redirection-login i {
    font-size: 14px;
    font-weight: bold;
    color: #ADB2B5;
    text-decoration: none;
}
