* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #ebebeb;
}

.title-principal {
    display: none;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-header-top-bar img {
    display: flex;
    justify-content: flex-start;
}

.main-header-top-bar form {
    display: flex;
    justify-content: flex-end;
}

.main-logo {
    width: 30%;
}

.div-form-buscar-productos {
    background-color: white;
    border: solid #EAC926 2px;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    position: relative;
    padding: 7px 10px;
}

.div-form-buscar-productos i {
    position: absolute;
    right: 0;
    color: lightgrey;
    padding-right: 5px;
    padding-top: 2px;
}

.buscar-productos {
    border: none;
    width: 90%;
}

.copy-header {
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin: 1em;
}

.hamburguer-buttom {
    background-color: #03264C;;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-main {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.main-banner img {
    width: 100vw;
}

section h2 {
    font-size: 24px;
    margin-top: 0.5em;
    text-align: center;
    color: #666666;
}

section img {
    width: 100%;
}

.main-section-product {
    background-color: white;
    padding-bottom: 10px;
    margin: 10px 0;
}

.main-section-info {
    border-top: #ebebeb solid 1px;
    padding: 15px;
}

section p {
    margin-left: 1em;
    display: inline;
    /* justify-content: space-between; */
}

section .precio-producto {
    font-size: 18px;
    font-weight: bold;
}

section h3 {
    font-size: 16px;
    display: none;
}

section .descuento-producto {
    font-size: 16px;
    font-weight: bold;
    color: #39b54a;
}

section i {
    color: #39b54a;
    border: solid #39b54a 1px;
    border-radius: 50%;
    padding: 5px;
}

.hr-left  {
    width: 16em;
    margin-left: 0%;
    border-color: #ebebeb;
    display: inline-block;
    opacity: 0.3;
}

.hr-right  {
    width: 2.3em;
    margin-right: 0%;
    border-color: #ebebeb;
    display: inline-block;
    opacity: 0.3;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 2em 1.1em 0em 1.1em;
    /* margin: 0; */
}

footer li {
    margin-bottom: 2em;
}

footer li h4 {
    margin-bottom: 10px;
    font-size: 2em;
}

footer ul i {
    color: #1259c3;
    font-size: 30px;
}

footer h5 {
    display: flex;
    margin: 8px;
    text-align: left;
    justify-content: flex-start;
    color: #c3c6c8;
}

@media (min-width: 481px) {
    .main-header {
        position: fixed;
        padding: 0.5em;
    }
    .main-header-top-bar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .main-logo  {
        width: 10em;
        padding: 0 0.5em;
    }
    .div-form-buscar-productos {
        width: 16em;
        height: 34px;
    }

    .hamburguer-buttom {
        display: none;
    }
    .copy-header {
        font-size: 14px;
        margin: 0;
        /* text-align: right; */
    }
    .main-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0.6em;
        font-size: 0.9em;
    }
    .main-navbar ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .left-navbar {
        padding-left: 1.4em;
    }
    .main-navbar ul li {
        padding-right: 0.5em;
    }
    .main-navbar a {
        color: black;
        text-decoration: none;
    }
    .main-navbar i {
        margin-left: 0.3em;
    }
    .main-main {
        width: 100%;
        padding-top: 4.96em;
    }
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    section .main-section-div {
        display: flex;
        flex-wrap: wrap;
    }
    .main-section-product {
        margin: 2%;
        padding-bottom: 1em;
        width: 13.4em;
        box-shadow : 0px 0px 10px rgb(100, 100, 100);
    }
    .main-section-img {
        display: flex;
        justify-content: center;
    }
    .hr-left {
        width: 8.5em;
        padding: 0.1em 0;
    }
    .hr-right {
        width: 2.1em;
        padding: 0.1em 0;
    }
    footer ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        padding: 1em 1em 0em;
    }
    footer ul i {
        font-size: 30px;
    }
    footer li {
        margin: 0em 0.7em;
    }    
    footer li h4 {
        margin-top: 0.5em;
        font-size: 1em;
    }
    footer li p {
        font-size: 0.7em;
    }    
    footer h5 {
        padding-left: 1.5em;
    }
}

@media (min-width: 769px) {
    .main-header-top-bar {
        justify-content: space-between;
    }
    .copy-header {
        font-size: 1.5em;
    }
    .main-logo  {
        width: 13em;
        padding: 0 0.5em;
    }
    .div-form-buscar-productos {
        width: 35em;
    }
    .main-navbar {
        font-size: 1.2em;
    }
    section .main-section-div {
        justify-content: center;
    }
    .main-section-product {
        margin: 1%;
        width: 20em;
    }
    .hr-left {
        width: 15em;
    }
    footer {
        justify-content: center;
        height: 15em;
    }
    footer ul {
        width: 65%;
        margin: 1em 20em 0em;
    }
    footer li h4 {
        font-size: 1.5em;
    }
    footer li p {
        font-size: 1em;
    }
    footer h5 {
        padding-left: 0;
    }
}